@import url(./src/normalize.css);

html {
  font-size: 62.5%;
  line-height: 1.8;
}

body {
  background: url(./img/visual-knicka.png) no-repeat top 80px right -120px;
  background-origin: border-box;
  color: #707070;
  font-size: 1.6rem;
}

p {
  margin: 0;
}

.global-logo {
  margin: 0;
  padding: 20px 10px 10px;
  text-align: right;
  line-height: 1;
}

.parts-toggle-munu {
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
    > span {
      display: block;
      width: 18px;
      height: 2px;
      flex-shrink: 0;
      background-color: #000;
    }
}

.common-heading2 {
  position: relative;
  padding-left: 12px;
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 4px;
    height: 16px;
    background-color: #707070;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
  }
}
.common-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    list-style: none;
    background-color: #E9E7DB;
    border: 1px solid #DCDCDC;
    width: 100%;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, .16);
    flex-shrink: 0;
    > a {
        color: #707070;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-content: center;
      > span {
        flex-shrink: 0;
        width: 100%;
        &:first-child {
          font-weight: bold;
        }
      }
    }
  }
}

input[type="checkbox"].common-display-toggle-check {
  display: none;
  & ~ * {
    filter: opacity(0);
    pointer-events: none;
  }
  &:checked ~ * {
    filter: opacity(1);
    transition: filter .5s;
  }
  &:not(:checked) ~ * {
    filter: opacity(0);
    transition: filter .5s;
  }
}

.global-nav {
  position: fixed;
  bottom: 72px;
  z-index: 1000;
  &__toggle-button {
    position: absolute;
    top: calc(100% + 8px);
    left: 16px;
    display: flex;
    width: 80px;
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .6);
    background-color: #fff;
    &:before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      background: url(./img/logo-knicka.png) no-repeat center;
      background-origin: border-box;
    }
  }
  &__button-line {
    width: 32px;
    height: 32px;
  }
  &__menu {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 96px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .12);
  }
  &__item {
    width: 78px;
    height: 78px;
    > a {
      > span {
        font-size: 1.2rem;
        &:first-child {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.main-content-wrapper {
  margin-left: 16px;
  margin-right: 16px;
  width: calc(100% - 32px);
}

.global-footer {
  margin-top: 112px;
  margin-bottom: 16px;
  text-align: center;
  &__logo {
    filter: opacity(33%);
  }
  &__copy {
    font-size: 0.8rem;
    color: #a9a9a9;
  }
}


.top-statement {
  background-color: rgba(255, 255, 255, .9);
  max-width: 300px;
  padding: 4px 4px 0;
  box-sizing: border-box;
  &__title {
    font-size: 2.8rem;
    padding: 4px;
  }
  &__text {
    padding: 40px 4px 40px 40px;
  }
}

.quote-blog-wrapper {
  position: relative;
  background-color: rgba(232, 231, 229, .86);
  padding: 12px 12px 24px;
  border-radius: 4px;
  &__title {
    position: absolute;
    top: -8px;
    right: 16px;
    color: #4E4222;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
  }
}

.quate-blog-content {
  background-color: rgba(255, 255, 255, .86);
  padding: 12px;
  border-radius: 4px;
}

.top-page-nav {
  &__title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 24px;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #A4A4A4;
    }
  }
  &__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 78px;
  }
  &__item {
    width: 78px;
    height: 78px;
    > a {
      > span {
        font-size: 1.2rem;
        &:first-child {
          font-size: 1.4rem;
        }
      }
    }
  }
  &:after {
    content: '';
    display: block;
    width: 33vw;
    height: 1px;
    margin: 64px auto;
    border-top: 1px dashed #A4A4A4;
  }
}

.signature {
  text-align: right;
  
}



@media screen and (min-width:768px) and ( max-width:1024px) {
  /*　画面サイズが768pxから1024pxまではここを読み込む　*/

.global-nav{



}
}  

@media screen and (min-width:1024px) { 
  /*　画面サイズが1024pxからはここを読み込む　*/

}