@import url(./src/normalize.css);

html {
  font-size: 62.5%;
  line-height: 1.8;
}

body {
  color: #707070;
  font-size: 1.6rem;
}

p {
  margin: 0;
}

.global-logo {
  margin: 0;
  padding: 20px;
  line-height: 1;
  display: flex;
  justify-content: flex-end;
}

.parts-toggle-munu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: center;
  >span {
    display: block;
    width: 18px;
    height: 2px;
    flex-shrink: 0;
    background-color: #000;
    transition: all .5s;
  }
  &[clicked="clicked"] {
    span {
      &:nth-of-type(1) {
        transform: translateY(8px) rotate(-135deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-9px) rotate(135deg);
      }
    }
  }
}

.common-heading2 {
  text-align: center;
  font-weight: normal;
  font-size: 2.2rem;
  margin-bottom: 56px;
}

.common-heading3 {
  text-align: center;
  font-weight: normal;
  font-size: 1.8rem;
  margin-bottom: 56px;
}

.common-nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  &__item {
    list-style: none;
    background-color: #E9E7DB;
    border: 1px solid #DCDCDC;
    width: 100%;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, .16);
    flex-shrink: 0;
    >a {
      color: #707070;
      text-decoration: none;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-content: center;
      >span {
        flex-shrink: 0;
        width: 100%;
        line-height: 1;
        &:first-child {
          font-weight: bold;
        }
        &:not(:first-child) {
          margin-top: 8px;
        }
      }
    }
  }
}

input[type="checkbox"].common-display-toggle-check {
  display: none;
  &:checked~* {
    display: none;
  }
}

.global-nav {
  position: fixed;
  bottom: 72px;
  z-index: 1000;
  &__toggle-button {
    position: absolute;
    top: calc(100% + 8px);
    left: 16px;
    display: flex;
    width: 80px;
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .6);
    background-color: #fff;
    &:before {
      content: '';
      display: block;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      background: url(./img/logo-knicka.png) no-repeat center;
      background-origin: border-box;
    }
  }
  &__button-line {
    width: 32px;
    height: 32px;
  }
  &__menu {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 96px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, .12);
    filter: opacity(0);
    pointer-events: none;
  }
  &__item {
    width: 78px;
    height: 78px;
    >a {
      >span {
        font-size: 1.2rem;
        &:first-child {
          font-size: 1.5rem;
        }
      }
    }
  }
  &__item-home {
    display: none;
  }
  &[firstClicked="firstClicked"] {
    .global-nav__menu {
      transition: filter .5s;
    }
  }
  &[clicked="clicked"] {
    .global-nav__menu {
      filter: opacity(1);
    }
  }
}

.main-content-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  width: 100%;
  background: url(./img/visual-knicka.png) no-repeat top 76px right calc(-120px + 16%);
  background-origin: border-box;
}

.global-footer {
  margin-top: 112px;
  margin-bottom: 16px;
  text-align: center;
  &__logo {
    filter: opacity(33%);
  }
  &__copy {
    font-size: 0.8rem;
    color: #a9a9a9;
  }
}

.top-statement {
  background-color: rgba(255, 255, 255, .9);
  max-width: 300px;
  padding: 4px 4px 0;
  box-sizing: border-box;
  &__title {
    font-size: 2.8rem;
    padding: 4px;
  }
  &__text {
    padding: 40px 4px 40px 40px;
  }
}

.quote-blog-wrapper {
  position: relative;
  background-color: rgba(232, 231, 229, .86);
  padding: 12px 12px 24px;
  border-radius: 4px;
  &__title {
    position: absolute;
    top: -8px;
    right: 16px;
    color: #4E4222;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
  }
}

.quate-blog-content {
  background-color: rgba(255, 255, 255, .86);
  padding: 12px;
  border-radius: 4px;
}

.signature {
  text-align: right;
}

.company-overview {
  text-align: center;
  font-weight: normal;
}

.company-overview_heading {
  font-weight: bold;
}

.logo-explanation {
  text-align: center;
}

@media screen and (min-width:600px) {
  /*　画面サイズが600pxからはここを読み込む　*/
.global-nav {
  position: relative;
  bottom: initial;
  z-index: 1000;
  &__toggle-button {
    display: none;
  }
  &__menu {
    filter: opacity(1) !important;
    transition: filter 0s !important;
    margin: 0;
    padding: 16px 0 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    box-shadow: none;
    justify-content: flex-end;
  }
  &__item {
    width: 120px;
    height: auto;
    margin: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    >a {
      >span {
        font-size: 1.2rem;
        &:first-child {
          font-size: 1.6rem;
          font-weight: normal;
        }
        &:not(:first-child) {
          margin-top: 16px;
        }
      }
      &:hover {
        >span {
          &:first-child {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__item-home {
    display: block;
  }
}

.main-content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-position: top 76px right calc(-28px + 4%);
}

}  

@media screen and (min-width:600px) and ( max-width:1024px) {
  /*　画面サイズが600pxから1024pxまではここを読み込む　*/
}  

@media screen and (min-width:1024px) { 
  /*　画面サイズが1024pxからはここを読み込む　*/

}