@import "../style";

.global-wrapper {
  background-color: #FFF;
}


.content-page-title {
  color: #2B2B2B;
  text-align: center;
  font-weight: normal;
  font-size: 2.4rem;
}

.contact-primary {
  font-style: normal;

  &__primary-how{
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }


  &__description {
    margin-left: auto;
    margin-right: auto;
    color: #2B2B2B;
    margin-top: 56px;
  }

  &__mail-content {
    padding : 24px;
    width: 280px;
    height: 40px;
  }

  &__mail{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__mail-icon{
    height: 40px;
    width: auto;
    padding:4px;
    > img{
      height: auto;
      width: 40px;
      padding:4px;
    }
  }

  &__mail-contents{
    font-size: 2.2rem;
    color: #2B2B2B;
    text-decoration: none;
  }

  &__mail-copy{
    height: 24px;
    width: auto;
    padding: 10px;
  }

  &__border{
    display: block;
    width: 240px;
    height: 1px;
    border-top: 1px solid #2B2B2B;
  }

  &__phone-content {
    padding : 24px;
    width: 280px;
    height: 40px;
    -margin-top: 54px;
  }

  &__phone{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__phone-icon{
    height: 40px;
    width: auto;
    padding:4px;
    > img{
      height: auto;
      width: 36px;
      padding:4px;
    }
  }

  &__phone-contents{
    font-size: 2.2rem;
    color: #2B2B2B;
    text-decoration: none;
  }

  &__phone-copy{
    height: 24px;
    width: auto;
    padding: 10px;
  }

}

.contact-tpl {

  &__button-1st_wrapper {
    display: flex;
    height: 48px;
    margin-top: 64px;
  }

  &__description {
    color: #2B2B2B;
    width: 100%;
    box-sizing: border-box;
    line-height: 21px;
    text-align: center;
  }

  &__button-1st {
    flex-shrink: 0;
    color: #2B2B2B;
    border: solid 1px #2B2B2B;
    background-color: #FFF;
    border-radius: 98px;
    width: 96px;
    height: 48px;
    margin-bottom: 24px;
    font-family: "yu-mincho-pr6n", serif;
  }


  &__button-2nd_wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
  }
  &__faq-link{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border: 1px solid #707070;
    border-radius: 98px;
    width: 206px;
    height: 48px;
    > a{
      margin-left: auto;
      margin-right: auto;
      text-decoration: none;
      color: #707070;
    }
  }

  &__copy-frame {
    -argin-left: auto;
    -margin-right: auto;
  }

  &__copy-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    resize: none;
    width: 263px;
    height: 360px;
    color: #2B2B2B;
    border: solid 1px #2B2B2B;
    background-color: #FFF;
    padding: 8px 16px;
    list-style: none;
    line-height: 2.5rem;
    font-size: 1.6rem;
    font-family: "yu-mincho-pr6n", serif;

  }

  &__button-2nd {
    display: block;
    margin-top: 16px;
    color: #2B2B2B;
    border: solid 1px #2B2B2B;
    background-color: #FFF;
    border-radius: 98px;
    width: 288px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: "yu-mincho-pr6n", serif;
  }
}

.contact-border {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  content: '';
  width: 40px;
  height: 1px;
  margin: 52px auto 32px;
  border-top: 1px dashed #A4A4A4;
}




.contact-secondary {
  &__description {
    margin-left: auto;
    margin-right: auto;
    color: #2B2B2B;
    margin-top: 56px;
    text-align: center;
  }

  &__secondary-how {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 278px;
    margin-left: auto;
    margin-right: auto;
  }

  &__twitter {
    display: flex;
    align-items: flex-end;
    margin-top: 53px;
    width: 278px;
    height: 40px;
    padding-left: 8px;
  }


  &__twitter-link {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    text-decoration: none;
    color: #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    height: 48px;
    width: 248px;
  }

  &__twitter-icon {
    width: 40px;
    flex-shrink: 0;
    margin-right: 8px;

    >img {
      outline: 0;
      width: 38px;
      margin-bottom: -4px;
      padding-left: 4px;
    }
  }

  &__twitter-contents {
    color: #2B2B2B;
    flex-shrink: 0;
    font-size: 2.2rem;
    height: 40px;
    width: 171px;
    flex-shrink: 0;
    text-align: center;
    font-style: normal;

    >a {
      text-decoration: none;
      color: #2B2B2B;
    }
  }

  &__twitter-copy {
    width: 32px;
    flex-shrink: 0;
    width: 38px;
    background: none;
    border: none;

    >img {
      width: 22px;
      margin-bottom: 8px;
    }
  }


  &__facebook {
    display: flex;
    align-items: flex-end;
    margin-top: 53px;
    width: 278px;
    height: 40px;
    padding-left: 8px;
  }


  &__facebook-link {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    text-decoration: none;
    color: #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    height: 48px;
    width: 248px;
  }

  &__facebook-icon {
    width: 40px;
    flex-shrink: 0;
    margin-right: 8px;

    >img {
      outline: 0;
      width: 22px;
      margin-bottom: -4px;
      padding-left: 4px;
      padding-left: 12px;
    }
  }

  &__facebook-contents {
    color: #2B2B2B;
    flex-shrink: 0;
    font-size: 2.2rem;
    height: 40px;
    width: 171px;
    flex-shrink: 0;
    text-align: center;
    font-style: normal;

    >a {
      text-decoration: none;
      color: #2B2B2B;
    }
  }

  &__facebook-copy {
    width: 32px;
    flex-shrink: 0;
    width: 38px;
    background: none;
    border: none;

    >img {
      width: 22px;
      margin-bottom: 8px;
    }
  }

  &__line {
    display: flex;
    align-items: flex-end;
    margin-top: 53px;
    width: 278px;
    height: 40px;
    padding-left: 8px;
  }


  &__line-link {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    text-decoration: none;
    color: #2B2B2B;
    border-bottom: 1px solid #2B2B2B;
    height: 48px;
    width: 248px;
  }

  &__line-icon {
    width: 40px;
    flex-shrink: 0;
    margin-right: 8px;

    >img {
      outline: 0;
      width: 38px;
      margin-bottom: -4px;
      padding-left: 4px;
    }
  }

  &__line-contents {
    color: #2B2B2B;
    flex-shrink: 0;
    font-size: 2.2rem;
    height: 40px;
    width: 171px;
    flex-shrink: 0;
    text-align: center;
    font-style: normal;

    >a {
      text-decoration: none;
      color: #2B2B2B;
    }
  }

  &__line-copy {
    width: 32px;
    flex-shrink: 0;
    width: 38px;
    background: none;
    border: none;

    >img {
      width: 22px;
      margin-bottom: 8px;
    }
  }
}

.contact-bye-text {
  color: #2B2B2B;
  margin-top: 72px;
}

.futter-logo {
  text-align: center;
  color: #2B2B2B;
  font-size: 0.75rem;
}

@media screen and (min-width:768px) {
  /*　画面サイズが768pxからはここを読み込む　*/

  .global-wrapper {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 72px;
  }

  .contact-primary {
    &__description {
      width: 600px;
      margin-left: auto;
      margin-right: auto;
    }


    &__primary-how {
      padding : 24px;
      width: 630px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }


    &__mail-icon-contents {
      margin-top: 0;
    }

    &__phone {
      margin-top: 0px;
      width: 280px;
    }

    &__phone-icon-contents {
      margin-top: 0;
    }
  }

  .contact-tpl {

    &__button-1st_wrapper {
      width: 480px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    &__button-2nd_wrapper {
      width: 480px;
      height: auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contact-secondary {

    &__secondary-how {
      width: 630px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &__twitter {
      margin-top: 36px;
      width: 288px;
    }

    &__facebook {
      margin-top: 36px;
      width: 288px;
    }

    &__facebook-icon-contents {
      margin-top: 56px;
    }

    &__line {
      margin-top: 50px;
      width: 288px;
    }

  }
}


@media screen and (min-width:454px) {
  /*　画面サイズが454pxからはここを読み込む　*/


  .contact-secondary {
    &__description {
      text-align: center;
    }
  }

  .contact-bye-text {
    text-align: center;
  }
}


@media screen and (min-width:650px) {

  /*　画面サイズが650pxからはここを読み込む　*/
  .contact-primary {

    &__description {
      width: 600px;
    }
  }
}

@media screen and (min-width:600px) {
  /*　画面サイズが600pxからはここを読み込む　*/

  .contact-tpl {
    &__button-1st_wrapper {
      width: 528px;
      margin-left: auto;
      margin-right: auto;

      >p {
        padding-top: 15px;
      }
    }

    &__button-2nd_wrapper {
      width: 494px;
    }
  }
}






/*　js用　*/
#contact_tpl {
  display: none;
}
