body{
  background-color: #FFF;
  margin: 36px;
}

h1{
  height: 22px;
  text-align: right;
  height:54px;
}

.content-page-title{
  color: #000000;
  text-align: center;
  hirgt:77px;
}





.contact-primary{
  p{
    color: #707070;  
    text-align: center;
    height: 107px;
    margin: 36px;
    }
  &__mail{
    height: 51px;
    width: 80%;
    padding: 8px;
    vertical-align: bottom;
  }
  &__mail-icon-contents{
    border-bottom: 1px solid #707070;
    height: 51px;
    width: 80%;
    text-align: center;
    float: left;
  }
  &__mail-icon{
    width: 20%;
    outline:0;
    margin: 8px;
    float: left;
  }
  &__mail-contents{
    color: #707070;
    height: 34px;
    width: 75px;
    margin: 8px;
    float: left;
  }
  &__mail-copy{
    height: 22px;
    margin: 8px;
    float: left;
    background-color: transparent;
    border: none;
    float: left;
  }


  &__tel{
    height: 51px;
    width: 303px;
    padding: 8px;
    clear:  both;
  }
  &__mail-icon+contents{
    margin: 0aut;
  }
  &__tel-icon{
    height: 30px;
    width: 30px;
    float: left;
  }
  &__tel-contents{
    color: #707070;
    height: 340px;
    width: 155px;
    margin: 8px;
    float: left;
  }
  &__tel-copy{
    height: 22px;
    width: 20px;
    outline:0;
    float: left;
  }



  button{
    background-color: transparent;
    border: none;
    float: left;
  }
}




.contact-tpl{
  &__description{
      clear:  both;
      color: #707070;
      text-align: center; 
  }
  &__button-1st_wrapper{
    text-align:center; 
  }
  &__button-1st{ 
      color: #707070;
      width: 122px;
      height: 58px;
      border: solid 1px #707070;
      background-color: #FFF;
      border-radius: 98px;
  }

  &__copy-text li{
      color:#707070;
      list-style: none;
      line-height: 2;
  }
  &__copy-text {
    　margin-left:auto;
      margin-right: auto;
      color:#707070;
      list-style: none;
      border: solid 1px #707070; 
      background-color: #FFF;
      padding: 24px 12px;
  }
  &__button-2nd_wrapper{ 
    text-align:center;
  }
  &__button-2nd{ 
    　text-align:center;
      height: 58px; 
      margin-top:18px;
      color:#707070;
      list-style: none;
      border: solid 1px #707070;
      background-color: #FFF;
      padding: 15px 10px;
}
}

.contact-secondary{


}

.contact-bye-text{
  color: #707070;
  text-align: center;
}

.fotter-logo{
  text-align: center;
  color: #707070;
  font-size: 0.75rem;
}
