.global-wrapper{
  background-color: #FFF;
    }

.blog-header-nav{
  margin-top: -56px;
  &__day-before{
     > p::before{
       /* アイコンを上下中央にする術考える */
      content: '';
      display: inline-block;
      height: 15px;
      width: 15px;
      background-image:url(./img/day-before.svg);
      background-repeat: no-repeat;
      padding-right:12px; 
      margin-top: -2px;
     }
    width: 88px;
    height: 56px;
    background-color: #FAFAFA;
    border: none;
    outline: none;
    color: #707070;
    font-size: 15px;
    border-radius:6px;
  }
}
.blog-main{
  h2{
    margin-top:40px;
    font-size:1.4rem;
    font-weight: normal;
    text-align: center;
  }
  &__card{
    width: 296px;
    height: auto;
    /* 画像に枠がついちゃう理由を調べる */
    > img{
    border-style:none;
    }
  }
  &__content-height{
        /* 高さは動的に出力する（__contentの高さを指定しないと、その下のカードブロックを入れられない） */
    height: 1720px;
    width: auto;
    display: block;
  }
  &__content{
    > h3{
      display: block;
      font-size:1.6rem;
      font-weight: normal;
      width: 56px;
    }
    display: block;
    margin-top: 72px;
    margin-top:40px;
    height:300px;
    column-width: 300px;
    width: 93%;
    text-align: left;
    column-gap:64px;
    line-height: 2.1;
    writing-mode: vertical-rl;
     >p{
      text-combine-upright: digits2;
     }
  }
  &__card{
    margin-left: auto;
    margin-right: auto;
    margin-top:32px;
  }
  }

  .blog-footer-nav{
    margin-top: 32px;
    display: flex; 
    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;
    &__day-before{
      display: flex; 
      width: 344px;
      height: 56px;
      background-color: #FAFAFA;
      border: none;
      outline: none;
      color: #707070;
      font-size: 15px;
      border-radius:6px;
    }
    &__day-before-zenjitsu{
    &:before{
          /* アイコンを上下中央にする術考える */
      content: '';
      display: inline-block;
      height: 15px;
      width: 15px;
      background-image:url(./img/day-before.svg);
      background-repeat: no-repeat;
      padding-right:2px; 
     }
      width: 48px;
      height: auto;
      flex-shrink: 0;
      font-size: 1.5rem;
      margin: auto 8px;
      color: #707070;
    }
    &__day-before-title{
      height: auto;
      font-size: 1.4rem;
      margin-top: auto;
      margin-bottom: auto;
    }

    &__day-after{
      margin-bottom: 64px;
      display: flex; 
      justify-content: flex-end;
      width: 344px;
      height: 56px;
      background-color: #FAFAFA;
      border: none;
      outline: none;
      color: #707070;
      font-size: 15px;
      border-radius:6px;
      margin-top:8px;
    }
    &__day-after-yokujitsu{
          &:after{
          /* アイコンを上下中央にする術考える */
            content: '';
            display: inline-block;
            height: 15px;
            width: 15px;
            background-image:url(./img/day-after.svg);
            background-repeat: no-repeat;
            margin-left:4px; 
           }
      width: 49px;
      height: auto;
      flex-shrink: 0;
      font-size: 1.5rem;
      margin: auto 8px;
    }
    &__day-after-title{
      height: auto;
      font-size: 1.4rem;
      margin-top: auto;
      margin-bottom: auto;
    }
  }


  @media screen and (min-width:600px){
    /*　画面サイズが600pxからはここを読み込む　*/
.main-content-wrapper{
  padding-left: 16px;
  padding-right: 16px;
}
.blog-main{
  &__content{
    width: 560px;
    margin-right: auto;
    margin-left: auto;
  }
&__content-right{
  margin-top:-15px;
}
}

.blog-header-nav{
  margin-top: 62px;
  &__day-before{
    width: 160px;
  }


}
 /*　タイトル下は空白にするために、２カラムにしたほうがいいと思うが、どうしようか考える*/
    }

    @media screen and (min-width:736px){
      /*　画面サイズが736pxからはここを読み込む　*/
      .blog-footer-nav{
        margin-right: auto;
        margin-left: auto;
        width: 702px;
        justify-content: space-between;

        &__day-after{
          margin-top:0;
        }

      }
    }