// placeholder
%yu-mincho-pr6n {
  font-family: "yu-mincho-pr6n", serif;
  font-weight: 400;
  font-style: normal; 
}

%ten-mincho {
  font-family:"ten-mincho", serif;
  font-weight: 400;
  font-style: normal; 
}

%knicka-mincho-with-ten-mincho {
  font-family: "knicka-mincho", "ten-mincho-text", "yu-mincho-pr6n", serif;
  font-weight: 400;
  font-style: normal; 
}

.global-wrapper {
  background: url(./img/visual-knicka.png) no-repeat top 72px right calc(-120px + 16%);
  background-origin: border-box;
}

.top-statement {
  background-color: rgba(255, 255, 255, .9);
  max-width: 320px;
  padding: 4px 4px 0;
  box-sizing: border-box;
  &__title {
    font-size: 2.8rem;
    line-height: 1.6;
  }
  &__text {
    padding: 8px 4px 24px 4px;
    font-size: 1.5rem;
    >br {
      &:nth-child(1) {
        display: inline;
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

.top-heading2 {
  &:before {
    display: block;
    content: '';
    width: 40px;
    height: 1px;
    margin: 32px auto;
    border-top: 1px dashed #A4A4A4;
  }
}

.top-page-nav {
  margin-top: 120px;
  &__title {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 24px;
  }
  &__menu {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 78px;
  }
  &__item {
    width: 78px;
    height: 78px;
    > a {
      > span {
        font-size: 1.2rem;
        &:first-child {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.quote-blog-wrapper {
  position: relative;
  background-color: rgba(232, 231, 229, .86);
  padding: 16px 8px;
  border-radius: 4px;
  margin-top: 40px;
  &__title {
    position: absolute;
    top: -12px;
    right: 16px;
    color: #4E4222;
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
  }
}

.quate-blog-content {
  @extend %knicka-mincho-with-ten-mincho;
  background-color: rgba(255, 255, 255, .86);
  padding: 4px 16px 16px;
  border-radius: 4px;
  &__title {
    font-size: 1.8rem;
    text-align: center;
    margin: 0;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #707070;
    }
  }
  &__sub-title {
    font-size: 1.2rem;
    margin-top: 8px;
    text-align: right;
  }
  &__text {
    font-size: 1.4rem;
    margin-top: 4px;
  }
  &__more {
    font-size: 1.4rem;
    margin-top: 4px;
    padding-right: 8px;
    display: block;
    text-align: right;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 3px);
      right: 0;
      width: 4px;
      height: 4px;
      border-top: 1px solid #707070;
      border-right: 1px solid #707070;
      transform: rotate(45deg);
    }
  }
}

.about-detail {
  &>button {
    display: flex;
    margin: 0 auto;
    height: 64px;
    background-color: #F5F4EE;
    border: none;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0 25px;
  }
  &--fit-left {
    &>button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: -24px;
      margin-right: auto;
    }
  }
  &--fit-right {
    &>button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: -24px;
      margin-left: auto;
    }
  }
}

.chief-profile {
  &__name {
    display: inline-block;
    &:not(:nth-of-type(1)) {
      &:before {
        content: '';
        display: inline-block;
        background: #707070;
        height: 14px;
        width: 1px;
        margin-right: 6px;
      }
    }
  }
  &__history {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    dt {
      width: 25%;
    }
    dd {
      width: 75%;
    }
  }
  &__expert {
    dt {
      font-weight: bold;
    }
    dd {
      display: inline;
      &:not(:first-of-type) {
        &:before {
          content: "、";
        }
      }
    }
  }
}

@media screen and (min-width:600px) {
.top-statement {
  max-width: 456px;
  &__title {
    >br {
      display: none;
    }
  }
  &__text {
    >br {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        display: inline;
      }
    }
  }
}
.quote-blog-wrapper {
  width: 368px;
}
.cheif-profile__expert dd {
display:inline-block;
}

.cheif-profile__history dd {
  display:inline-block;
}

}  

@media screen and (min-width:600px) and ( max-width:1024px) {
  /*　画面サイズが601psから1024pxからはここを読み込む　*/
}  

@media screen and (min-width:1024px) { 
  /*　画面サイズが1024pxからはここを読み込む　*/
}


@media screen and (min-width:688px) { 
  /*　画面サイズが688pxからはここを読み込む　*/
.global-narrow-box {
  width: 624px;
  margin-left: auto;
  margin-right: auto;
  }
}